body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

#header {
    color: white;
    text-align: center;
    background-image: url(donate-today-main/images/donation13.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#header h1 {
    font-size: 50px;
}

.align-center {
    padding: 40px 300px;
}

.donate-button {
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: tomato;
    margin-top: 20px;
}

#donate-container {
    text-align: center;
}

#amount {
    display: flex;
}

.background {
    height: 100px;
    width: 200px;
    background-color: lightgray;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    border: none;
    border-radius: 10px;
}

#second-button {
    background-color: lightpink;
    border: 2px solid tomato;
    color: tomato;
}

#button-inline-block {
    display: grid;
}

#other-amount {
    margin: 20px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
}

#donate-button-2 {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background-color: tomato;
}

.donate-plan {
    text-align: center;
    padding: 40px 300px;
}

.donation-plan {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.donation-plan p {
    font-size: small;
}

#food {
    height: 200px;
    background-image: url(donate-today-main/icons/food.png);
    background-color: lightslategray;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    text-align: left;
    margin-right: 10px;
    padding-top: 100px;
    padding-left: 10px;
    border-radius: 10px;

}

#shelter {
    background-image: url(donate-today-main/icons/shelter.png);
    background-color: lightpink;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    text-align: left;
    margin-right: 10px;
    padding-top: 100px;
    padding-left: 10px;
    border-radius: 10px;
}

#education {
    background-image: url(donate-today-main/icons/Frame-1.png);
    background-color: lightyellow;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    text-align: left;
    margin-right: 10px;
    padding-top: 100px;
    padding-left: 10px;
    border-radius: 10px;

}